@import "../commonstyle/iconfont.css";
body,
ul,
dd,
h3,
h4,
h5,
p,
img {
  padding: 0;
  margin: 0;
}
s {
  text-decoration: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
i {
  font-style: inherit;
}
p,
span,
ul,
li,
button,
s,
div,
a {
  font-size: 0.3rem;
  color: #666666;
  font-family: "PingFangSC-Regular", "Microsoft YaHei ", "SimHei ";
}
.base-show {
  display: block !important;
}
.base-header {
  width: 7.5rem;
  height: 0.7rem;
  line-height: 0.7rem;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #D7D7D7;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 bottom;
}
.base-header div {
  flex: 1;
  color: #737373;
  text-align: center;
}
.base-header div .iconfont {
  font-weight: 600;
}
.base-header .base-lhead {
  text-indent: 0.05rem;
}
.base-header .base-chead {
  text-align: center;
  text-indent: 0.15rem;
}
.base-title {
  width: 6.76rem;
  height: 0.65rem;
  line-height: 0.65rem;
  border-bottom: 1px solid #eeeeee;
  margin: 0 auto;
  color: #222222;
  font-size: 0.32rem;
  padding-top: 0.2rem;
  position: relative;
}
.base-split {
  width: 100%;
  height: 0.1rem;
  background-color: #f1f3f6;
}
.base-chara {
  width: 6.14rem;
  margin: 0 auto;
  height: 1rem;
  line-height: 1rem;
}
.base-chara div {
  width: 50%;
  float: left;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
}
.base-chara div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.base-chara div s {
  font-size: 0.24rem;
}
.base-chara .base-lchar span {
  background-color: #E66440;
}
.base-chara .base-rchar span {
  background-color: #2a303e;
}
.base-chara .base-rmarkpoin span {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin-top: -0.02rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.base-navs {
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
  width: 6.55rem;
  margin: 0 auto;
  margin-bottom: 0.1rem;
}
.base-navs p {
  margin: 0.24rem 0;
  font-size: 0.28rem;
  text-align: center;
}
.base-navs p span {
  font-size: 0.34rem;
  color: #e66440;
}
.base-navs .base-twig {
  width: 6.55rem;
  height: 0.48rem;
  margin: 0 auto;
  background-color: #F1F3F6;
  border-radius: 0.3rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.1rem;
}
.base-navs .base-twig div {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  color: #ffffff;
  float: left;
  font-size: 0.24rem;
}
.base-navs .base-twig .base-ltwig {
  width: 0%;
  background-color: #df5e39;
  border-radius: 0.25rem 0 0 0.25rem;
}
.base-navs .base-twig .base-ztwig {
  width: 0%;
  background-color: #f2883b;
}
.base-navs .base-twig .base-rtwig {
  width: 0%;
  background-color: #2a303e;
  border-radius: 0 0.25rem 0.25rem 0;
}
.base-navs .base-twig .base-llwig {
  width: 0%;
  background-color: #E66440;
  border-radius: 0.25rem 0 0 0.25rem;
}
.base-navs .base-twig .base-zlwig {
  width: 0%;
  background-color: #3C424F;
  border-radius: 0 0.25rem 0.25rem 0;
}
.base-navs .base-chara {
  width: 6.14rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.base-navs .base-chara div {
  float: left;
  width: 50%;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
}
.base-navs .base-chara div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.base-navs .base-chara div s {
  font-size: 0.24rem;
}
.base-navs .base-chara .base-lchar span {
  background-color: #df5e39;
}
.base-navs .base-chara .base-zchar span {
  background-color: #f2883b;
}
.base-navs .base-chara .base-rchar span {
  background-color: #2a303e;
}
.base-navs .base-chara .base-rmarkpoin span {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.base-charaThree {
  width: 6.14rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.base-charaThree div {
  width: 33.33%;
  float: left;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
}
.base-charaThree div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.base-charaThree div s {
  font-size: 0.24rem;
}
.base-charaThree .base-lchar span {
  background-color: #df5e39;
}
.base-charaThree .base-zchar span {
  background-color: #f2883b;
}
.base-charaThree .base-rchar span {
  background-color: #2a303e;
}
.base-charaThree .base-rmarkpoin span {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.base-area-dropDown {
  position: absolute;
  left: 0;
  top: 0.72rem;
}
.base-area-dropDown .base-area-frienDrop {
  width: 7.5rem;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  display: none;
  z-index: 210;
}
.base-area-dropDown .base-area-frienDrop .base-area-leftDrop {
  width: 3rem;
  background-color: #f1f3f6;
  float: left;
  padding-bottom: 1.15rem;
  height: 100%;
}
.base-area-dropDown .base-area-frienDrop .base-area-leftDrop p {
  display: block;
  width: 100%;
  height: 0.72rem;
  line-height: 0.72rem;
  border-bottom: 1px solid #ecedef;
  text-indent: 0.52rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.base-area-dropDown .base-area-frienDrop .base-area-rightDrop {
  width: 4.3rem;
  float: left;
  background-color: #fff;
}
.base-area-dropDown .base-area-frienDrop .base-area-rightDrop p {
  display: block;
  height: 0.72rem;
  line-height: 0.72rem;
  width: 4.72rem;
  border-bottom: 1px solid #ecedef;
  margin: 0 auto;
  font-size: 0.27rem;
  text-indent: 0.52rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.base-area-dropDown .base-area-closedrop {
  position: absolute;
  display: none;
  width: 7.5rem;
  height: 100%;
  min-height: 11.48rem;
  left: 0;
  top: 0;
  z-index: 205;
  background-color: rgba(0, 0, 0, 0.5);
}
.base-area-dropDown span {
  width: 0.2rem;
  position: absolute;
  height: 0.25rem;
  top: -0.25rem;
  left: 0.98rem;
  z-index: 210;
  text-indent: -0.07rem;
  background-color: #fff;
}
.base-dropDown {
  position: absolute;
  left: 0;
  top: 0.72rem;
}
.base-dropDown .base-frienDrop {
  width: 7.5rem;
  background-color: #fff;
  overflow: auto;
  position: absolute;
  z-index: 210;
  display: none;
}
.base-dropDown .base-frienDrop .base-leftDrop,
.base-dropDown .base-frienDrop .date-leftDrop {
  width: 2.5rem;
  background-color: #f1f3f6;
  float: left;
  padding-bottom: 1.15rem;
  height: 100%;
}
.base-dropDown .base-frienDrop .base-leftDrop p,
.base-dropDown .base-frienDrop .date-leftDrop p {
  display: block;
  width: 100%;
  height: 0.72rem;
  line-height: 0.72rem;
  border-bottom: 1px solid #ecedef;
  text-indent: 0.52rem;
}
.base-dropDown .base-frienDrop .date-leftDrop {
  height: 2.8rem;
}
.base-dropDown .base-frienDrop .base-rightDrop,
.base-dropDown .base-frienDrop .date-rightDrop {
  width: 5rem;
  float: left;
  background-color: #fff;
}
.base-dropDown .base-frienDrop .base-rightDrop p,
.base-dropDown .base-frienDrop .date-rightDrop p {
  display: block;
  height: 0.72rem;
  line-height: 0.72rem;
  width: 4.72rem;
  border-bottom: 1px solid #ecedef;
  margin: 0 auto;
  font-size: 0.27rem;
  text-indent: 0.52rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.base-dropDown .base-frienDrop .date-rightDrop {
  height: 2.8rem;
}
.base-dropDown .base-closedrop,
.base-dropDown .data-closedrop {
  position: absolute;
  display: none;
  width: 7.5rem;
  height: 100%;
  min-height: 11.48rem;
  left: 0;
  top: 0;
  z-index: 205;
  background-color: rgba(0, 0, 0, 0.5);
}
.base-dropDown span {
  width: 0.2rem;
  position: absolute;
  height: 0.25rem;
  top: -0.25rem;
  left: 0.98rem;
  z-index: 210;
  text-indent: -0.07rem;
  background-color: #fff;
}
.leftdropstyle {
  background-color: #fff;
  color: #eb8265;
}
.rightdropstyle {
  color: #eb8265;
  border-color: #f3b2a0;
}
.base-showbox {
  display: block !important;
}
.backgroundOne {
  background: url(../../img/positionChangeContrast/contrastSwipeBg1.png) no-repeat;
  border-bottom: none;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 bottom;
  padding-bottom: 1px;
}
.backgroundTwo {
  background: url(../../img/positionChangeContrast/contrastSwipeBg2.png) no-repeat;
  border-bottom: none;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 bottom;
  padding-bottom: 1px;
}
.backgroundThree {
  background: url(../../img/positionChangeContrast/contrastSwipeBg3.png) no-repeat;
  border-bottom: none;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 bottom;
  padding-bottom: 1px;
}
.base-dataFree {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 500;
  box-sizing: border-box;
  padding-top: 2.3rem;
}
.base-dataFree .base-dataImage {
  width: 2.76rem;
  height: 3.25rem;
  background: url("../../img/帆船2x.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin: 0 auto;
}
.base-dataFree .base-dataTitle {
  font-size: 0.3rem;
  color: #2a303e;
  margin: 0.3rem 0;
  text-align: center;
  font-weight: 500;
}
.base-dataFree .base-dataTitles {
  color: #d7d7d7;
  text-align: center;
  font-size: 0.24rem;
}
.base-dataFree .base-btnRefresh {
  width: 2.64rem;
  height: 0.6rem;
  border: 0.05rem solid #222834;
  color: #222834;
  background-color: #fff;
  display: block;
  margin: 1rem auto;
}
.base-moreData {
  height: 2.25rem;
  width: 5rem;
  text-align: center;
  line-height: 2.25rem;
  font-size: 0.3rem;
  margin: 0 auto;
}
.container {
  min-height: 11.8rem;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.container .map-titles {
  width: 7.5rem;
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
.container .map-titles i {
  margin: 0 0.2rem;
  font-style: inherit;
}
.container .map-titles a {
  height: 100%;
  display: inline-block;
  width: 2.4rem;
}
.container .map-titles .map-analyse {
  color: #E66440;
}
.container .map-changehome {
  width: 15rem;
  min-height: 8.5rem;
  position: relative;
}
.container .map-person {
  width: 7.5rem;
  background-color: #fff;
  border-radius: 0.08rem;
  margin: 0 auto;
  margin-bottom: 0.15rem;
  position: absolute;
  left: 0;
  top: 0;
}
.container .map-person .map-navs {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}
.container .map-person .map-navs p {
  color: #737373;
  margin: 0.2rem 0;
  text-align: center;
}
.container .map-person .map-navs .map-twig {
  width: 6.55rem;
  height: 0.55rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.1rem solid #F1F3F6;
}
.container .map-person .map-navs .map-twig div {
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  color: #ffffff;
  float: left;
}
.container .map-person .map-navs .map-twig .map-ltwig {
  background-color: #E66440;
  border-radius: 0.25rem 0 0 0.25rem;
}
.container .map-person .map-navs .map-twig .map-ztwig {
  background-color: #3C424F;
}
.container .map-person .map-navs .map-twig .map-rtwig {
  background-color: #d8d8d8;
  border-radius: 0 0.25rem 0.25rem 0;
}
.container .map-person .map-navs .map-twig .map-ltwig {
  background-color: #E66440;
  border-radius: 0.25rem 0 0 0.25rem;
}
.container .map-person .map-navs .map-twig .map-rtwig {
  background-color: #3C424F;
  border-radius: 0 0.25rem 0.25rem 0;
}
.container .map-person .map-navs .map-chara {
  width: 6.14rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.container .map-person .map-navs .map-chara div {
  width: 50%;
  float: left;
  color: #737373;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
}
.container .map-person .map-navs .map-chara div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.container .map-person .map-navs .map-chara div s {
  font-size: 0.24rem;
}
.container .map-person .map-navs .map-chara .map-lchar span {
  background-color: #df5e39;
}
.container .map-person .map-navs .map-chara .map-zchar span {
  background-color: #f2883b;
}
.container .map-person .map-navs .map-chara .map-rchar span {
  background-color: #2a303e;
}
.container .map-person .map-analyse {
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
  margin: 0 auto;
  margin-bottom: 0.1rem;
}
.container .map-person .map-analyse p {
  color: #797979;
  font-size: 0.3rem;
  margin: 0.2rem 0;
  text-align: center;
}
.container .map-person .map-analyse .map-twig {
  width: 6.55rem;
  height: 0.55rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.1rem solid #F1F3F6;
}
.container .map-person .map-analyse .map-twig div {
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  color: #ffffff;
  float: left;
}
.container .map-person .map-analyse .map-twig .map-ltwig {
  background-color: #df5e39;
}
.container .map-person .map-analyse .map-twig .map-ztwig {
  background-color: #f2883b;
}
.container .map-person .map-analyse .map-twig .map-rtwig {
  background-color: #2a303e;
}
.container .map-person .map-analyse .map-twig .map-llwig {
  background-color: #E66440;
  border-radius: 0.25rem 0 0 0.25rem;
}
.container .map-person .map-analyse .map-twig .map-zlwig {
  background-color: #3C424F;
  border-radius: 0 0.25rem 0.25rem 0;
}
.container .map-charatwo {
  width: 6.14rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.container .map-charatwo div {
  width: 50%;
  float: left;
  color: #737373;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
  margin-bottom: 0.15rem;
}
.container .map-charatwo div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.container .map-charatwo div s {
  font-size: 0.24rem;
}
.container .map-charatwo .map-lchar span {
  background-color: #df5e39;
}
.container .map-charatwo .map-zchar span {
  background-color: #f2883b;
}
.container .map-charatwo .map-rchar span {
  background-color: #2a303e;
}
.container #container {
  height: 6.2rem;
  width: 6.55rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  border-radius: 0.1rem;
}
.container #container .map-title {
  position: absolute;
  width: 1.72rem;
  height: 2.08rem;
  background-color: #fff;
  left: 0.1rem;
  top: 0.1rem;
  z-index: 50;
  border-radius: 5%;
  display: none;
  box-sizing: border-box;
}
.container #container .map-title p {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  display: block;
  border-bottom: 1px solid #f4f4f4;
}
.container #container .map-title p .map-title-install,
.container #container .map-title p .map-title-canal {
  font-size: 0.52rem;
  color: #4a8fe1;
  margin-left: 0.03rem;
  margin-right: 0.04rem;
  float: left;
}
.container #container .map-title p i {
  float: left;
}
.container #container .map-title p .map-title-noemal,
.container #container .map-title p .map-title-unusual {
  display: block;
  float: left;
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 50%;
  margin-top: 0.09rem;
  margin-right: 0.14rem;
  margin-left: 0.14rem;
}
.container #container .map-title p .map-title-noemal {
  background-color: #4a8fe1;
}
.container #container .map-title p .map-title-unusual {
  background-color: #e66440;
}
.container #container .amap-logo {
  display: none;
}
.container #container .amap-ui-mobile .amap-ui-control-zoom {
  width: 0.7rem;
  height: 1.36rem;
  border-color: #dbd9db;
}
.container #container .amap-ui-mobile .amap-ui-control-zoom a {
  width: 0.7rem;
  height: 0.68rem;
  line-height: 0.63rem;
  color: #6f6f6f;
}
.container .map-potency {
  width: 7.5rem;
  position: absolute;
  top: 0;
  left: 7.5rem;
}
.container .map-potency .map-mapchart {
  position: relative;
}
.container .map-potency .map-mapchart .map-markpoin {
  position: absolute;
  left: 4.5rem;
  top: 0.3rem;
  color: #666666;
}
.container .map-potency .map-mapchart .map-markpoin span {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.container .map-potency #h-jobpote {
  width: 6.76rem;
  height: 6rem;
  margin: 0 auto;
}
.container .map-potency .map-ecplan {
  width: 6.5rem;
  margin: 0 auto;
  padding-top: 0.2rem;
}
.container .map-potency .map-ecplan p {
  color: #737373;
  line-height: 0.45rem;
}
.container .map-potency .map-ecplan p span {
  color: #df5e39;
}
.map-popframe {
  width: 7.5rem;
  height: 100%;
  min-height: 12.8rem;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  padding-top: 0.8rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.map-popframe .map-frame {
  width: 5.66rem;
  min-height: 5.6rem;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 1.02rem;
  position: relative;
  top: 2.6rem;
  border-radius: 5%;
  box-shadow: 3px 3px 3px;
  z-index: 210;
}
.map-popframe .map-frame .map-popheads {
  width: 3.38rem;
  height: 2.18rem;
  position: absolute;
  background: url("../../img/Group 45.png") no-repeat;
  background-size: 100% 100%;
  left: 1.37rem;
  top: -1.252rem;
  z-index: 210;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.24rem;
  text-indent: -0.36rem;
}
.map-popframe .map-frame .map-popheads p {
  font-size: 0.34rem;
  color: #ffffff;
  line-height: 0.35rem;
  margin: 0.35rem 0;
}
.map-popframe .map-frame .map-popheads .map-poptexts {
  font-size: 0.45rem;
  font-weight: 600;
}
.map-popframe .map-frame .map-avatar {
  width: 5.05rem;
  background-color: #222833;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 0.1rem;
  overflow: hidden;
  margin: 0 auto;
}
.map-popframe .map-frame .map-avatar p {
  margin: 0.2rem 0;
  color: #ffffff;
}
.map-popframe .map-frame .map-avatar p span {
  display: inline-block;
  width: 2.45rem;
  color: #ffffff !important;
}
.map-popframe .map-frame .map-avatar .map-textarea {
  line-height: 0.50rem;
}
.map-popframe .map-closetwo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 205;
  top: 0;
  left: 0;
  overflow: auto;
}
.map-popframe .map-close {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  margin: 0.2rem auto;
  padding-top: 3rem;
}
.map-popframe .map-close span {
  width: 0.55rem;
  height: 0.55rem;
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 0.45rem;
  text-align: center;
  line-height: 0.55rem;
}
.map-chara {
  width: 6.14rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.map-chara div {
  width: 50%;
  float: left;
  color: #737373;
  height: 0.3rem;
  line-height: 0.3rem;
  text-indent: 0.05rem;
  font-size: 0.24rem;
}
.map-chara div span {
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.02rem;
  margin-left: 0.15rem;
  border-radius: 0.04rem;
}
.map-chara div s {
  font-size: 0.24rem;
}
.map-chara .map-lchar span {
  background-color: #df5e39;
}
.map-chara .map-zchar span {
  background-color: #f2883b;
}
.map-chara .map-rchar span {
  background-color: #2a303e;
}
.map-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 999;
  background-color: #fff;
}
