<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在岗异常识别</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../css/normstyle/normIndex.css">
    <link rel="stylesheet" href="../../css/analystyle/postUnusual.css">
    <link rel="stylesheet" href="../../css/commonstyle/lCalendar.css">
    <script src="../../js/common/echarts.min.js"></script>
    <script src="../../js/common/lCalendar.js"></script>
    <script src="../../js/common/rem.js"></script>
    <style>
        .date_ctrl {
            left: 2.3rem;
            top: 0rem;
            width: 5rem;
        }
    </style>
</head>
<body>
<input id="dateFlag" type="hidden" name="dateFlag" value="false" />
<input id="monthFlag" type="hidden" name="monthFlag" value="false" />
<div class="norm-normIndex">
    <div class="post-closetime"></div>
    <div class="base-header">
        <div
                class="base-lhead"><s id="region"></s> <span class="base-iconone iconfont icon-xiala"></span> <i
                class="fr">|
        </i></div>
        <div class="base-chead"><s id="post"></s> <span class="base-icontwo iconfont icon-xiala"></span>
            <i class="fr">|</i></div>
        <div class="base-rhead" id="showdata"><s id="month"></s> <span
                class="base-iconthree iconfont icon-xiala"></span></div>
    </div>
    <div class="post-drop">
        <div class="base-area-dropDown">
            <div class="base-area-frienDrop" id="droplDown">
                <div class="base-area-leftDrop"></div>
                <div class="base-area-rightDrop"></div>
            </div>
            <div class="base-area-closedrop"></div>
        </div>
        <div class="base-dropDown">
            <div class="base-frienDrop" id="personnelDown">
                <div class="base-leftDrop"></div>
                <div class="base-rightDrop"></div>
            </div>
            <div class="base-closedrop"></div>
        </div>
        <div class="base-dropDown">
            <div class="base-frienDrop" id="dateDropDown">
                <div class="date-leftDrop">
                    <p class="leftdropstyle" id="daysDate">日期</p>
                    <p id="monthDate">月度</p>
                </div>
                <div class="date-rightDrop " id="loadICalendar" data-lcalendar="2011-01-1,2019-12-31">

                </div>
            </div>
            <div class="data-closedrop"></div>
        </div>
    </div>

    <div class="base-bodys">
        <div class="base-title">
            在岗异常占比图
        </div>
        <div class="base-navs" id="h-unusprog-point">
            <p>异常人数：<span id="y_totalNum">0</span> 在岗人数：<span id="n_totalNum">521</span></p>
            <div class="base-twig" id="h-unusprog">
                <div class="base-llwig"></div>
                <div class="base-zlwig"></div>

            </div>
            <div class="base-chara">
                <div class="base-lchar">
                    <span></span>
                    <s>异常 <i id="num-lchar"></i></s>
                </div>

                <div class="base-rchar">
                    <span></span>
                    <s>在岗 <i id="num-zchar"></i></s>
                </div>
            </div>
        </div>
        <div class="base-title">
            在岗异常情况排名
            <div class="post-posttime">
                <span>在岗时长<s id="post_abnormal_ranking">0-2小时</s></span><i class="iconfont icon-xiala"></i>
            </div>
            <div class="post-timeShow">
                <span> 0 小时</span>
                <span>0-2小时</span>
                <span>2-4小时</span>
                <span>4-6小时</span>
                <span>6-8小时</span>
            </div>
        </div>
        <div class="post-normchart" id="warningValue_point">
            <div class="post-markpoin">
                <span></span>
                预警值
                <s id="warningValue"></s>
            </div>
            <div id="post-norchart"></div>
            <div class="base-chara">
                <div class="base-lchar">
                    <span></span>
                    异常
                </div>
                <div class="base-rchar">
                    <span></span>
                    总人数
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/common/echarts.min.js"></script>
<script src="../../js/common/jquery-2.1.0.min.js"></script>
<script src="../../js/common/common.js"></script>
<!-- API S-->
<script src="../../js/api/api.common.js"></script>
<script src="../../js/api/flowAnaly/postUnusual/api.post.unusual.js"></script>
<script src="../../js/api/flowAnaly/postUnusual/api.post.unusual.callback.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        postDuaration();
        getContrastHtml(ANALY_ZAIGANGABNORMAL_URL);
        getBasicInformation('postUnusualApi');
    });
</script>
<!-- API E-->
</body>
</html>